.header-title {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.menu-button {
  margin-bottom: 10px;
}

.menu-description {
  font-size: 0.9rem;
  color: #777;
}
